Компания, занимающаяся оптовыми поставками зернового кофе, запросила отчёт о продажах по месяцам. Интересуют только те продажи, у которых не было доставки: их количество в месяц, процент плохих отзывов, доходность таких транзакций – в разрезе на продажи с вводом клиентом  промокода и без. 
Имеется выгрузка всех продаж с момента основания компании.
Необходимо написать код на Python, который прочтет выгрузку, проведет необходимые расчеты и запишет таблицу-результат в эксель. 
Поля итоговой таблицы: 
«Месяц» – «Введен промокод» – «Кол-во транзакций» – «Плохих отзывов, %» - «Доходность, %».

Примечание:
Доходность можно вычислить по формуле
 Доходность, % = (Оплаченная по транзакциям сумма - Закупочная цена поставленных зерен) / Закупочная цена поставленных зерен * 100, где
Закупочная цена поставленных зерен = сумма Cost всех с нужными характеристиками,
Оплаченная по транзакциям сумма= сумма Paid транзакций с нужными характеристиками.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Транзакции.xlsx")

In [ ]:
df2= df[df['Доставка']==0]

In [ ]:
df2['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df2['Date'] = df2['Date'].dt.strftime('%m-%Y')

In [ ]:
df3=df2.groupby(['Date', 'Promo']).agg({'TransactionID': 'count','Paid': 'mean','Cost': 'mean'})
df3['Доходность,%']=df3.apply(lambda x:(x['Paid']-x['Cost'])/x['Cost']*100, axis=1)
df3['Плохих отзывов, %'] = df2['Плохой отзыв'].mean() * 100
df3 = df3.rename(columns={'TransactionID': 'Кол-во транзакций', 'Плохой отзыв': 'Плохих отзывов, %'})
df3 = df3.rename_axis(index={'Date': 'Месяц', 'Promo': 'Введен промокод'})
columns_to_keep = ['Кол-во транзакций', 'Плохих отзывов, %', 'Доходность,%']
df3 = df3[columns_to_keep]
df3

                         Кол-во транзакций  Плохих отзывов, %  Доходность,%
Месяц   Введен промокод
01-2020 0                              216          49.971942      9.497282
        1                              220          49.971942     11.689679
02-2020 0                              218          49.971942      5.875785
        1                              189          49.971942      2.288952
03-2019 0                                1          49.971942    -55.243533
03-2020 0                              295          49.971942      8.093333
        1                              294          49.971942      5.603127
04-2019 0                              177          49.971942      7.795757
        1                              139          49.971942      6.450648
04-2020 0                              167          49.971942      2.000823
        1                              188          49.971942      3.153289
05-2019 0                              187          49.971942      6.115150
        1                              179          49.971942      8.961145
05-2020 0                              201          49.971942     -3.048042
        1                              210          49.971942      7.584019
06-2019 0                              181          49.971942      5.433924
        1                              181          49.971942     15.409926
06-2020 0                              195          49.971942     17.632927
        1                              198          49.971942      1.757646
07-2019 0                              159          49.971942      8.173424
        1                              186          49.971942      6.998503
07-2020 0                              241          49.971942      9.830051
        1                              232          49.971942      6.442114
08-2019 0                              183          49.971942      5.596654
        1                              147          49.971942      9.262946
08-2020 0                              245          49.971942      5.901705
        1                              255          49.971942      6.856192
09-2019 0                              225          49.971942      9.038907
        1                              200          49.971942     20.688775
10-2019 0                              238          49.971942     10.986386
        1                              272          49.971942      1.354221
11-2019 0                              235          49.971942     15.415795
        1                              237          49.971942      7.912388
12-2019 0                              225          49.971942      8.254752
        1                              212          49.971942      5.347702

In [ ]:
df3.to_excel('df3.xlsx', index=True)